.footer {
    display: flex;
    background-color: rgba(20, 20, 20, 0.9);
    height: 50px;
    width: 100%;
    align-items: center;
    border-top: 3px solid rgba(66, 66, 66);

}

.footer h3 {
    margin: 0 auto;
    color: #ffffff;
    caret-color: transparent;
}