<div class="login-container">
    <div class="login-image">
        <div class="blur">
            <img src="../../../assets/spices-wood-1.jpg">
        </div>
        <img src="../../../assets/spices-wood.jpg" loading="lazy">
        <div class="contact-me">
            <h1>ДОБРЕ ДОШЪЛ</h1>
        </div>
    </div>
    <section class="login-page" >
        <img class='image' src="../../../assets/logo.png" alt="" />
        <form class='login-form' #loginForm="ngForm" (ngSubmit)="submitHandler(loginForm)">
            <div class='container'>
                <h1>Вход</h1>
                <label name='email'>Имейл</label>
                <input type="text" id="email" name="email" placeholder='Напиши имейл...' ngModel email required
                #emailInput="ngModel"/>
    
                 <!-- MSG ERROR -->
    
                <div *ngIf="emailInput.touched" class="error">
                    <div *ngIf="emailInput.errors?.['required']">Полето е празно!</div>
                    <div *ngIf="emailInput.errors?.['email']">Невалиден имейл!</div>
                </div>
    
                <label name='password'>Парола</label>
                <input type="password" id="password" name="password" placeholder='Напиши парола...' ngModel required
                #passwordInput="ngModel" [appMaxCount]="10" [appMinCount]="6"/>
    
                <!-- MSG ERROR -->
    
                <div class="error" *ngIf="passwordInput.touched">
                    <div *ngIf="passwordInput.errors?.['appMinCount']">Паролата е по-кратка от 6 символа!</div>
                    <div *ngIf="passwordInput.errors?.['appMaxCount']">Паролата е по-дълга от 10 символа!</div>
                </div>
    
                <input class='btn submit' type='submit' value="ВХОД" />
    
                <p className="field">
                    <span>Ако нямаш регистрация натисни <a routerLink="/register">тук</a></span>
                </p>
        </div>
    </form>
    </section>
    </div>
